doctype 5
html
  head
    title= "Movable Door"
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    script(src='/javascripts/zepto.min.js', type="text/javascript")
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    #container
      br
      button#leftGarage Open Sesame
      br
      br

script(type="text/javascript")
  $("button#leftGarage").click(function() {
    $(this).text("Opened!");
    $.post('/api/garage/left', function(data) { });
    setTimeout(function() {
      $("#leftGarage").text("Open Sesame");
    }, 2500);
  });
